<!DOCTYPE html>
<html lang="zh-cn" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=devicwidth, initial-scale=1">
    <title>扶持券管理</title>
    <!-- 页面引入插件样式-开始 -->
    <!--bootstrap下拉菜单-->
    <link href="${ctx_cloud_common}/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <!-- 页面引入插件样式-结束 -->
    <!-- 基础公共插件样式-开始 -->
    <link href="${ctx_cloud_common}/cloud/css/vendor.min.css" rel="stylesheet">
    <!-- 基础公共插件样式-结束 -->
    <!-- 平台公共样式-开始 -->
    <link href="${ctx_cloud_common}/cloud/css/common.min.css" rel="stylesheet">
    <!-- 空间样式 -->
    <!--<link href="${ctx}/cloud/css/mangement-common.min.css" rel="stylesheet">-->
    <!--平台公共样式-结束 -->
    <!-- 皮肤样式-开始 -->
    <link   href="${ctx_cloud_common}/cloud/skins/defaultweb/css/default.min.css" rel="stylesheet">
    <!-- 皮肤样式-结束 -->
    <!-- 业务模块-开始 -->
    <link href="${ctx_module}/cloud/resticketweb/css/restickedmanage.css" rel="stylesheet">
    <!-- 业务模块-结束 -->
</head>
<body>
<div class="qc-head">
</div>
<!--/头部-->
<div class="qc-content">
    <div class="container">
        <div class="row">
            <!--页面为：5-19框架-->
            <div class="col-md-5 padding-r-15">
                <div class="side-nav">
                    <div class="self-info person">
                        <div class="head">
                            <img src="${ctx_module}/cloud/resticketweb//img/default-head1.jpg"/>
                        </div>
                        <div class="name">张宏生</div>
                    </div>
                    <!--/个人信息-->
                    <div class="split-line"></div>
                    <!--/分割线-->
                    <ul class="nav-menu">
                        <li class="menu active">
                            <div class="classmenu">服务发布编辑</div>
                            <ul>
                                <li class="submenu">
                                    <a href="#">标准服务发布</a>
                                </li>
                                <li class="submenu">
                                    <a href="#">非标准服务发布</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu active">
                            <div class="classmenu">创项目管理</div>
                            <ul>
                                <li class="submenu">
                                    <a href="#">我的创业项目</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu">
                            <div class="classmenu">资产管理</div>
                            <ul>
                                <li class="submenu">
                                    <a href="#">我的优惠券</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu">
                            <div class="classmenu">关注管理</div>
                            <ul>
                                <li class="submenu">
                                    <a href="#">我的关注</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu">
                            <div class="classmenu">我的扶持</div>
                            <ul>
                                <li class="submenu  active">
                                    <a href="#">我的扶持券</a>
                                </li>
                                <li class="submenu">
                                    <a href="#">我能申领的</a>
                                </li>
                                <li class="submenu">
                                    <a href="#">扶持券管理</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!--/左侧导航菜单-->
                </div>
                <!--/左侧菜单-->
            </div>
            <div class="col-md-19">
                <div id="resticketDemo" class="right-content">
                    <div class="widget">
                        <div class="widget-head-top inline-head-group clearfix">
                            <span class="title-cont">兑换设置</span>
                        </div>
                        <div class="widget-body widget-default margin-b-15">
                            <form class="form-horizontal form-content">
                                <div class="row margin-b-15">
                                    <label class="col-md-4 control-label">兑换时间：</label>
                                    <div class="col-md-16">
                                        <div class="divider">
                                            <div class="controls">
                                                <input type="text" class="form-control" placeholder="2016-03-17" onClick="laydate()">
                                                <span class="iconfont icon-riqi form-control-feedback"></span>
                                            </div>
                                            <div class="quarantine">至</div>
                                            <div class="controls">
                                                <input type="text" class="form-control" placeholder="2016-03-19" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                                                <span class="iconfont icon-riqi form-control-feedback"></span>
                                            </div>
                                        </div>
                                        <!--/divider-->
                                    </div>
                                </div>
                                <div class="row margin-b-15">
                                    <label class="col-md-4 control-label">属性配置：</label>
                                </div>
                            </form>

                            <table class="table space-table">
                                <thead>
                                    <tr>
                                        <th class="col-md-8">属性名称</th>
                                        <th class="col-md-8">是否必填</th>
                                        <th class="col-md-8">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in items">
                                        <td>
                                            <input class="form-control"  placeholder="输入关键词" v-model="item.name">
                                        </td>
                                        <td>
                                            <div class="checkbox-inline">
                                                <label>
                                                    <input type="checkbox" name="checkbox-2" v-model="item.isRequired">
                                                    <span class="choice"></span>必填
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <button  class="btn btn-default" v-on:click="remove(index)">删除</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center">
                                <button class="btn btn-default font-blue" v-on:click="add">+添加属性</button>
                            </div>
                            <div class="text-center font-gray-9 margin-t-10">
                                定义服务商在提交兑现资料时对每一个订单需要填写字段项
                            </div>
                            <div class="text-center margin-t-20">
                                <button class="btn btn-md btn-skin" v-on:click="save">确定</button>
                                <button class="btn btn-md btn-default" v-on:click="cancel">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--/内容区-->
<div class="qc-footer">
</div>
<!--/底部-->
<!-- base control javascript start -->
<script src="${ctx_cloud_common}/lib/vue/vue.min.js"></script>
<script src="${ctx_cloud_common}/lib/jquery/jquery-3.1.1.min.js"></script>
<script src="${ctx_cloud_common}/lib/bootstrap/js/bootstrap.min.js"></script>
<!--/base control javascript end -->
<!-- ecsp common -->
<!--plugin javascript start-->
<!--bootstrap下拉菜单-->
<script src="${ctx_cloud_common}/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
<!--/plugin javascript end-->

<!-- 业务模块-开始 -->
<script src="${ctx_module}/cloud/resticketweb/js/space/park/resticketDemo.js"></script>
<!-- 业务模块-结束 -->
</body>
</html>
